[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
psycopg2-binary = "*"
flask = "*"
flask-wtf = "*"
flask-bcrypt = "*"
flask-paginate = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
pillow = "*"
email-validator = "*"
gunicorn = "*"
pytz = "*"
flask-login = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-admin = "*"
flask-security = "*"
flask-ckeditor = "*"

[requires]
python_version = "3.9"
