<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="A forum for fullstack developers">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} FStackForum</title>

  </head>

  <body>

    <noscript>
      <div style="color:#FC0000;background-color:#FFFFFF;text-align:center">
        <p>Warning! It seems that JavaScript is not working in your browser. It could be that JavaScript is not supported, or JavaScript is disabled.</p>
        <p>Please enable JavaScript. Some of the features on fstackforum.com will not function properly with out javascript enabled.</p>
      </div>
    </noscript>

    <article>

      <!-- START header -->

      <header>

        <div class="page__header hr--border">

        <h1 class="header-1">FstackForum</h1>

        <nav>
          <ul class="menu">

            <li><a class="menu__link{% if request.endpoint == 'forum.index' %} active{% endif %}" href="{{ url_for('forum.index') }}">home</a></li>
            <li><a class="menu__link {% if request.endpoint == 'forum.about' %} active{% endif %}" href="{{ url_for('forum.about') }}">about</a></li>
            {% if current_user.is_authenticated %}
              <li><a class="menu__link{% if request.endpoint == 'forum.forum_route' %} active{% endif %}" href="{{ url_for('forum.forum_route') }}">forum</a></li>
              <li><a class="menu__link{% if request.endpoint == 'auth.profile' %} active{% endif %}" href="{{ url_for('auth.profile') }}">profile</a></li>
              <li class=""><a class="menu__link" href="{{ url_for('auth.logout') }}">logout</a></li>
            {% else %}
              <li class=""><a class="menu__link{% if request.endpoint == 'auth.sign_up' %} active{% endif %}" href="{{ url_for('auth.sign_up') }}">sign up</a></li>
              <li><a class="menu__link btn--outline{% if request.endpoint == 'auth.login_route' %} active{% endif %}" href="{{ url_for('auth.login_route') }}">login</a></li>
            {% endif %}

          </ul>
        </nav>

      </div>

      {% if current_user.is_authenticated %}
        <p class="logged-in-user">{{ current_user.username }}</p>
      {% endif %}

      </header>

      <!-- END header -->

      <!-- START main -->

      <main>

        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="message message--{{ category }}">
                <p class="message__text">{{ message }}</p><button type="submit" class="close">&#10060;</button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}

        <nav class="footer__nav">

          <div class="footer__content">

            {% if posts %}

              {% if posts.has_prev %}
                <a class="footer__link arrow" href="{{ url_for('forum.index', page=posts.prev_num) }}">&#171;</a>
              {% endif %}

              {% for page_num in posts.iter_pages() %}

                {% if page_num %}

                  {% if page_num != posts.page %}
                    <a class="footer__link" href="{{ url_for('forum.index', page=page_num) }}">{{ page_num }}</a>
                  {% else %}
                    <a class="footer__link current__page" href="#">{{ page_num }}</a>
                  {% endif %}

                {% endif %}

              {% endfor %}

              {% if posts.has_next %}
                <a class="footer__link arrow" href="{{ url_for('forum.index', page=posts.next_num) }}">&#187;</a>
              {% endif %}

            {% endif %}

          </div>

        </nav>

      </main>

      <!-- END main -->

      <!-- START footer -->

      <footer class="page__footer">

        <img src="{{ url_for('static', filename='images/message-square.svg') }}">

        <p class="footer__anchor">Fstackforum.com &copy; <script>document.write(new Date().getFullYear());</script> created by <a href="https://brandonwallace.cc" target="_blank" rel="nonreferrer">brandon wallace</a></p>

      </footer>

      <!-- END footer -->

    </article>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </body>

</html>
