{# application/templates/macros.html #}


{% macro displayField(fieldName, placeholderValue) %}

  {{ fieldName(class_='input__field', placeholder=placeholderValue, **kwargs) }}

  {% for error in fieldName.errors %}
    <p class="form__error">{{ error }}</p>
  {% endfor %}

{% endmacro %}


{% macro categoryType(category, type, category_text=category_text) %}

  {% if type == 'general' %}
    <a href="{{ url_for('forum.categories', category=category_text) }}" class="tile__category__link purple-bg">{{ category_text }}</a>

  {% elif type == 'javascript' %}
    <a href="{{ url_for('forum.categories', category=category_text) }}" class="tile__category__link green-bg">{{ category_text }}</a>

  {% elif type == 'nodejs' %}
    <a href="{{ url_for('forum.categories', category=category_text) }}" class="tile__category__link orange-bg">{{ category_text }}</a>

  {% elif type == 'python' %}
    <a href="{{ url_for('forum.categories', category=category_text) }}" class="tile__category__link blue-bg">{{ category_text }}</a>

  {% elif type == 'html-css' %}
    <a href="{{ url_for('forum.categories', category=category_text) }}" class="tile__category__link magenta-bg">{{ category_text }}</a>

  {% elif type == 'support' %}
    <a href="{{ url_for('forum.categories', category=category_text) }}" class="tile__category__link amber-bg">{{ category_text }}</a>

  {% elif type == 'help' %}
    <a href="{{ url_for('forum.categories', category=category_text) }}" class="tile__category__link turquoise-bg">{{ category_text }}</a>

  {% else %}
    <a href="{{ url_for('forum.categories', category=category_text) }}" class="tile__category__link red-bg">{{ category_text }}</a>

  {% endif %}

{% endmacro %}
