{# application/templates/forum/forum.html #}

{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

  <section class="about m-width-600">

    <h2>About</h2>

    <p>A forum where people of all walks of live and every experience level come together to discuss fullstack technologies.</p>

    <div class="contact">

    <h2 class="contact-title">Contact</h2>

    <div class="contact-info">

      <div class="contact-icons">

        <div class="contact-icon">
          <a href="https://github.com/brandon-wallace" target="_blank"><i class="fab fa-github"></i></a>
          <p class="contact-icon-label">github</p>
        </div>

        <div class="contact-icon">
          <a href="https://www.freecodecamp.org/brandon_wallace" target="_blank"><i class="fab fa-free-code-camp"></i></a>
          <p class="contact-icon-label">freecodecamp</p>
        </div>

        <div class="contact-icon">
          <a href="https://codepen.io/brandon_wallace/" target="_blank"><i class="fab fa-codepen"></i></a>
          <p class="contact-icon-label">codepen</p>
        </div>

      </div>
    </div>

  </section>

{% endblock %}
