{# application/templates/forum/help.html #}

{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block content %}

  <h2 class="category-h2 turquoise-bg">Help</h2>

  <section class="row">

    {% for post in posts.items %}

      <div class="tile tile--wide">

        <div class="tile__content">

          <header class="tile__header">
            <h3 class="tile__title"><a href="{{ url_for('forum.display_post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p class="tile__date"><time datetime="{{ post.date_posted.strftime("%Y-%m-%d") }}">{{ post.date_posted.strftime("%Y-%m-%d") }}</time></p>
          </header>

          <div class="tile__text">
            <p>{{ post.content }}</p>
          </div>

          <footer class="tile__footer">

            <div class="tile__author">
              <p class="tile__title">{{ post.author.username }}</p>
            </div>

          </footer>

        </div>

      </div>

    {% endfor %}

  </section>

{% endblock %}
