{# application/templates/forum/index.html #}

{% extends "layout.html" %}

{% from 'macros.html' import categoryType %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="index-content">

    <!-- Categories -->

    <section class="index-categories">
    
      <div class="categories">

        <ul class="category-menu">

          {% for category in categories %}
            <li class="tile__category">
              {{ categoryType(type=category.category, category_text=category.category) }}
            </li>
          {% endfor %}

        </ul>
      
      </div>

    </section>

    <!-- END -->

    <!-- Post -->

    <article class="index-tiles row">

      {% for post in posts.items %}

        <div class="tile tile--wide">

          <div class="tile__content">

            <header class="tile__header">
              <h2 class="tile__title"><a href="{{ url_for('forum.display_post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <span class="tile__date">{{ post.date_posted.strftime("%Y-%m-%d") }}</span>
            </header>

            <div class="tile__text">
              <p>{{ post.content }}</p>
            </div>

            <footer class="tile__footer">

              <div class="tile__author">
                <img class="profile-image" src="static/images/avatars/{{ post.author.image_file }}" alt="Profile Avatar">
                <span class="tile__title">{{ post.author.username }}</span>
              </div>

              <div class="tile__buttons">
                <a class="tile__like__btn" title="Like" href="#"><img class="like__icon" src="{{ url_for('static', filename='images/heart_outline_icon_25x25.png') }}"></a>
              </div>

            </footer>

          </div>

        </div>

      {% endfor %}

    </article>

    <!-- END -->

    <!-- Latest -->

    <article class="index-latest">

      <header class="index__latest__header">
        <h3 class="tile__title">Latest Activity</h3>
      </header>

      {% for comment in comments %}

        <div class="tile">

          <div class="tile__content">
            <header class="align-horizontal">
              <h4>{{ comment.author.username }} </h4><span>{{ comment.date_posted|datetime_format("%Hh:%Mm %dd ago") }}</span>
            </header>
            <p class="crop-text">{{ comment.content }}</p>
            <span><small>Reply to:</small> <a class="underline" href="{{ url_for('forum.display_post', post_id=comment.post.id) }}">{{ comment.post.title }}</a></span>
            <p>{{ categoryType(type=comment.category, category_text=comment.category) }}</p>
          </div>

        </div>

      {% endfor %}

    </article>

    <!-- END -->

  </div>

{% endblock %}
