{# application/templates/forum/index.html #}

{% extends "layout.html" %}

{% from 'macros.html' import categoryType %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="index-content">

    <aside class="index-categories">
    
      <div class="categories">

        <ul class="category-menu">

          {% for category in categories %}
            {{ categoryType(type=category.category, category_text=category.category) }}
          {% endfor %}

        </ul>
      
      </div>

    </aside>

    <section class="index-tiles row">

      {% for post in posts.items %}

        <div class="tile tile--wide">

          <div class="tile__content">

            <header class="tile__header">
              <h2 class="tile__title"><a href="{{ url_for('forum.display_post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <span class="tile__date">{{ post.date_posted.strftime("%Y-%m-%d") }}</span>
            </header>

            <div class="tile__text">
              <p>{{ post.content }}</p>
            </div>

            <footer class="tile__footer">

              <div class="tile__author">
                <img class="profile-image" src="static/images/avatars/{{ post.author.image_file }}" alt="Profile Avatar">
                <span class="tile__title">{{ post.author.username }}</span>
              </div>

              <div class="tile__buttons">
              </div>

            </footer>

          </div>

        </div>

      {% endfor %}

    </section>

  </div>

{% endblock %}
