{# application/templates/forum/index.html #}

{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <section class="row">

      {% for post in posts.items %}
      
        <div class="tile tile--wide">
          <div class="tile__content">

            <div class="tile__header">
              <h2 class="tile__title"><a href="{{ url_for('forum.display_post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <p class="tile__date">{{ post.date_posted.strftime("%Y-%m-%d") }}</p>
            </div>

		    <p class="tile__category"><a class="tile__category__link">{{ post.category }}</a></p>
            <div class="tile__text">
              <p>{{ post.content }}</p>
            </div>

            <div class="tile__footer">
              <div class="tile__author">
                <p class="tile__title">{{ post.author.username }}</p>
              </div>

              <div class="tile__buttons">
				{% if current_user.is_authenticated %}
                  <button class="tile__btn tile--reverse">Reply</button>
				{% endif %}
              </div>
            </div>

          </div>
        </div>

      {% endfor %}

    </section>

{% endblock %}
