{# application/templates/forum/post.html #}

{% from 'macros.html' import displayField %}
{% from 'macros.html' import categoryType %}

{% extends "layout.html" %}

{% block title %}Post{% endblock %}

{% block content %}

  <section class="row latest">

    {% if current_user.is_authenticated %}
      
      <!-- START posts -->

      {{ categoryType(type=post.category, category_text=post.category) }}

      <div class="tile tile--wide">

        <div class="tile__content">

          <div class="tile__header">
            <h2 class="tile__title"><a href="{{ url_for('forum.display_post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="tile__date">{{ post.date_posted.strftime("%Y-%m-%d") }}</p>
          </div>

		  <p class="tile__category"><a class="tile__category__link">{{ post.category }}</a></p>

          <div class="tile__text">
            <p>{{ post.content }}</p>
          </div>

          <div class="tile__footer">

            <div class="tile__author">
            </div>

            <div class="tile__buttons">

              {% if current_user == post.author %}
                <a class="tile__btn" href="{{ url_for('forum.update_post', post_id=post.id) }}">Edit</a>
                <a class="tile__btn" href="{{ url_for('forum.delete_post', post_id=post.id) }}">Delete</a>
              {% endif %}
              <button class="tile__btn tile--reverse reply">Reply</button>

            </div>

          </div>

        </div>

      </div>
      
      <!-- END posts -->

      <!-- START comments -->

      {% if comments %}

        {% for comment in comments %}

          <div class="comment comment--wide">

            <div class="comment__content">

              <div class="comment__header">
                <h2 class="comment__title">{{ comment.title }}</h2>
                <p class="tile__date">{{ comment.date_posted.strftime("%Y-%m-%d") }}</p>
              </div>

              <div class="comment__text">
                <p>{{ comment.content }}</p>
              </div>

              <div class="comment__footer">

                <div class="comment__author">
                  <p class="comment__title">{{ comment.author.username or 'Anonymous' }}</p>
                </div>

                <div class="comment__buttons">
                  <button class="comment__btn comment--reverse reply">Reply</button>
                </div>

              </div>

            </div>

          </div>

        {% endfor %}

      {% endif %}

      <form class="comment__form" action="" method="POST">

        {{ form.csrf_token }}

        {{ displayField(form.content, 'Type commet here...') }}
        <input class="btn btn--solid" type="submit" value="SUBMIT">
        <a class="btn btn--link" href="{{ url_for('forum.forum_route') }}">CANCEL</a>

      </form>
      
      <!-- END comments -->

    {% else %}

      <!-- START post -->

      {{ categoryType(type=post.category, category_text=post.category) }}

      <div class="tile tile--wide">

        <div class="tile__content">

          <div class="tile__header">
            <h2 class="tile__title"><a href="{{ url_for('forum.display_post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="tile__date">{{ post.date_posted.strftime("%Y-%m-%d") }}</p>
          </div>

          <p class="tile__category"><a class="tile__category__link" href="{{ url_for('forum.categories', category=post.category) }}">{{ post.category }}</a></p>

          <div class="tile__text">
            <p>{{ post.content }}</p>
          </div>

          <div class="tile__footer">

            <div class="tile__author">
              <p class="tile__title">{{ post.author.username }}</p>
            </div>

            <div class="tile__buttons">
            </div>

          </div>

          </div>

        </div>

      </div>

      <!-- END posts -->

      <!-- START comments -->

      {% if comments %}

        {% for comment in comments %}

          <div class="comment comment--wide">

            <div class="comment__content">

              <div class="comment__header">
                <div class="comment__title">
                  <h1>{{ comment.title }}</h1>
                </div>
                <p class="tile__date">{{ comment.date_posted.strftime("%Y-%m-%d") }}</p>
              </div>

              <div class="comment__text">
                <p>{{ comment.content }}</p>
              </div>

              <div class="comment__footer">

                <div class="comment__author">
                  <p class="comment__title">{{ comment.author.username }}</p>
                </div>

                <div class="comment__buttons">
                </div>

              </div>

            </div>

          </div>

        {% endfor %}

      {% endif %}

      <!-- END comments -->

    {% endif %}

  </section>

{% endblock %}
