/* application/static/css/style.css */

@font-face {
  font-family: 'FiraMono-Regular';
  src: url('../fonts/FiraMono-Regular.eot'); 
  src: url('../fonts/FiraMono-Regular.woff2') format('woff2'), 
       url('../fonts/FiraMono-Regular.woff') format('woff'), 
       url('../fonts/FiraMono-Regular.ttf')  format('truetype'), 
       url('../fonts/FiraMono-Regular.otf')  format('opentype');
}

:root {
    --dark: #2B2B2B;
    --blue: #004dbb;
    --red: #BB0009;
    --light: #FFFFFF;
    --medium: #777777;
    --lighter: #F4F4F4;
    --medium-dark: #3B3B3B;
    --medium-light: #D0D0D2;

    --fg: var(--dark);
    --bg: var(--light);
}

.dark-theme {
    --bg: var(--dark);
    --fg: var(--light);
    --medium-dark: var(--medium-light);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #2B2B2B;
    color: var(--fg, #2B2B2B);
    background-color: #FFFFFF;
    background-color: var(--bg, #FFFFFF);
    font-family: 'FiraMono-Regular', monospace;
}

a {
    color: #111111;
    text-decoration: none;
}

.menu__link:hover {
    color: #DDDDDD;
    background-color: #575252;
}

.menu__link:active {
    color: #CC0000;
}

.menu__link:visited {
    /* color: ???? #600381; */
}

article {
    min-height: 100%;
    position: relative;
}

main {
    padding: 8px .5rem 250px .5rem;
}

.page__header {
    padding: .5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 4px solid #000000;
    border-bottom: 4px solid var(--fg);
}

.logged-in-user {
    margin: 5px .5rem 0 0;
    text-align: right;
}

section {
    padding: 1rem 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page__footer {
    bottom: 0;
    width: 100%;
    height: 250px;
    padding: 1.5rem;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #2B2B2B;
    color: var(--fg, #2B2B2B);
    background-color: #FFFFFF;
    border-top: 4px solid #000000;
}

header,
nav {
    width: 100%;
}

.header-1 {
    color: #FFFFFF;
    color: var(--bg, #FFFFFF);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: .2rem;
	text-shadow: 2.0px  2.0px 0 var(--fg),
                -2.0px  2.0px 0 var(--fg),
                 2.0px -2.0px 0 var(--fg),
                -2.0px -2.0px 0 var(--fg),
                 3px    3px   0 var(--medium-dark),
                 4px    4px   0 var(--medium-dark),
                 5px    5px   0 var(--medium-dark);
}

.toggle-theme {
    color: #FFFFFF;
    color: var(--bg, #FFFFFF);
    margin-bottom: .5rem;
    padding: .25rem .75rem;
    background-color: #EAEAE3;
    background-color: var(--fg, #EAEAE3);
    border: 2px solid #777777;
    border: 2px solid var(--medium, #777777);
}

.menu,
.forum-menu,
.profile-menu {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style-type: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.forum-menu {
    margin-left: auto;
}

.menu__link,
.forum__link,
.profile__link {
    width: 100%;
    padding: .5rem;
    color: #111111;
    display: block;
    margin-bottom: 4px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  	background-color: #F4F4F4;
  	background-color: var(--lighter, #F4F4F4);
}

.menu__link {
    max-width: 400px;
    text-transform: uppercase;
    border: 2px solid #1D1E2A;
    border: 2px solid var(--fg, #1D1E2A);
    color: #1D1E2A;
    color: var(--fg, #1D1E2A);
    background-color: #FFFFFF;
    background-color: var(--bg, #FFFFFF);
}

.menu__link:hover {
    background-color: #818080;
}

.input__field {
}

.forum__link {
    color: #010101;
    max-width: 400px;
    border: 2px solid #202020;
    background-color: #A6A6A6;
}

.profile__link {
    color: #1D1E2A;
    max-width: 350px;
    text-transform: uppercase;
    border: 2px solid #202020;
    background-color: #FFFFFF;
}

.far,
.fas {
    color: #1D1E2A;
}

.message {
    width: 100%;
    border: solid;
    display: flex;
    margin: 0 auto;
    max-width: 520px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.message__text {
    flex: 2;
    margin: 8px;
    text-align: center;
}

.message--message {
    background-color: hsl(39, 100%, 50%);
}

.message--fail {
    color: #4A0101;
    background-color: hsl(0, 100%, 70%);
}

.message--success {
    color: #000000;
    background-color: hsl(202, 100%, 70%);
}

.message--warning {
    color: #1002D9;
    background-color: hsl(123, 100%, 70%);
}

.message--info {
    color: #1002D9;
    background-color: hsl(75, 100%, 70%);
}

form {
    width: 100%;
    max-width: 350px;
}

.form__header {
    font-size: 2rem;
}

.form__agreement {
    margin-top: 0;
    font-size: .8rem;
}

.form__link {
    font-weight: bold;
}

.form__error {
    color: #EE0000;
    margin-top: -.7rem;
}

.about,
.agreement,
.unconfirmed {
    margin: 0 auto;
    padding: .25rem;
    max-width: 800px;
    text-align: justify;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.agreement__header {
    text-align: center;
}

.input__field {
    width: 100%;
    font-size: 1rem;
    min-height: 50px;
    font-weight: bold;
    padding: .5rem 1rem;
    font-family: inherit;
    font-family: inherit;
    margin-bottom: .75rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 3px solid #777777;
    border: 3px solid var(--medium, #777777);
}

/* Set bigger spacing and size of the input text. */
.password__field {
    font-size: 1.4rem;
    letter-spacing: 4px;
    margin-bottom: .75rem;
}

/* Return the spacing and size of the 
 * placeholder text to match other input fields.
 */
.password__field::-moz-placeholder { 
    font-size: 1rem;
    letter-spacing: 0;
}

.password__field::-webkit-input-placeholder {
    font-size: 1rem;
    letter-spacing: 0;
}

.password__field:-ms-input-placeholder {
    font-size: 1rem;
    letter-spacing: 0;
}

.password__field::placeholder {
    font-size: 1rem;
    letter-spacing: 0;
}

.form__password_toggle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.email__unconfirmed {
    margin: 0 auto;
    max-width: 600px;
}

.email__unconfirmed__text {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: justify;
}

.eye__button {
    border: 0;
    outline: none;
    padding: .5rem;
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
}

.flip--horizontal {
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
}

.upload {
    overflow: hidden;
    position: relative;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    border: 3px solid #777777;
    border: 3px solid var(--medium, #777777);
}

.upload__button {
    border: 0;
    height: 30px;
    display: block;
    min-width: 135px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 2.1px;
    outline: 3px solid #777777;
    outline: 3px solid var(--medium, #777777);
}

.upload__input {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100px;
    height: 30px;
    border: solid;
    cursor: pointer;
    min-width: 135px;
    position: absolute;
}

.btn {
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    min-width: 135px;
    /* max-width: 345px; */
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 1rem;
    font-family: inherit;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    border: 3px solid #0D3D95;
}

.btn--link {
    width: 100%;
    height: 34px;
    color: #2973FF;
    max-width: 345px;
    line-height: 34px;
    background-color: #FFFFFF;
}

.reset__link,
.login__link {
    color: #0d3d95;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: underline;
}

.login__link:hover,
.reset__link:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(10%, #2B2B2B));
    background: -o-linear-gradient(transparent 90%, #2B2B2B 10%);
    background: linear-gradient(transparent 90%, #2B2B2B 10%);
}

.page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__nav {
	height: 100%;
    display: flex;
    justify-content: center;
}

.footer__content {
	height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer__link {
    padding: 1rem;
    display: block;
    margin-left: .5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #1D1E2A;
    border: 2px solid var(--fg, #1D1E2A);
    color: #000000;
    color: var(--fg, #1D1E2A);
    background-color: #FFFFFF;
    background-color: var(--bg, #FFFFFF);
}

.footer__link:hover {
    background-color: #818080;
}

.footer__anchor {
    margin: 0;
    right: 10px;
    bottom: 10px;
    color: #2B2B2B;
    text-align: right;
    position: absolute;
    background-color: #FFFFFF;
}

.footer__anchor a {
    width: 100%;
    color: #024F9E;
    text-decoration: underline;
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info {
  padding: 1rem;
  color: #000000;
  font-size: .9rem;
  text-align: center;
}

.contact-icons {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 64px;
  font-size: 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-between;
}

.contact-icons .fab {
  color: #000000;
  color: var(--fg, #000000);
}

.contact-icons .fab:hover {
  color: #063FD2;
}

.contact-icon-label {
  color: #000000;
  font-size: 1rem;
  color: var(--fg, #000000);
}

.contact__link {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--fg, #000000);
}

@media only screen and (min-width: 365px) {
    .header-1 {
        font-size: 2.8rem;
    }
}

@media only screen and (min-width: 500px) {
    .header-1 {
        word-spacing: -40px;
    }
    .menu {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        justify-content: flex-end;
    }
    .menu li {
        margin-right: .5rem;
    }
    .menu__link {
        margin-bottom: 0;
        text-align: center;
        padding: .5rem 1rem;
        white-space: nowrap;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    nav {
        width: 100%;
    }
    .message--fail,
    .message--success {
        margin: 0 auto .5rem auto;
    }
    .header-1,
    .form__header {
        font-weight: bold;
        text-align: center;
    }
    .header-1 {
        font-size: 3.5rem;
        margin-top: .75rem;
    }
    .form__header {
        margin: .85rem 0;
        font-size: 2.5rem;
    }
    .footer__content {
        min-height: 150px;
        align-items: flex-end;
    }
    form {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 650px) {
    .header-1 {
        font-size: 5rem;
    }
}


/* Forum */
.posts {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1125px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.posts-new-link {
    width: 100px;
    padding: .5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 1rem 0 1rem 8px;
    border: 2px solid #202020;
    background-color: #B9B6B9;
}

.row {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.row__title {
    font-weight: 500;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.current-user {
    font-weight: bold;
}

.comment {
    width: 100%;
    padding: 1rem;
    height: 250px;
    margin: 0 auto;
    min-width: 285px;
    max-width: 1100px;
    margin-bottom: .5rem;
    background-color: #F7F7F7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 8px 1px #555555;
            box-shadow: 1px 1px 8px 1px #555555;
    border: .5px solid #323739;
}

.tile,
.comment {
    width: 100%;
    margin: 0 auto;
    padding: .75rem;
    min-width: 285px;
    max-width: 550px;
    margin-bottom: .5rem;
    background-color: #F7F7F7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: .5px solid #323739;
    -webkit-box-shadow: 1px 1px 2px 3px #555555;
            box-shadow: 1px 1px 2px 3px #555555;
    color: #2B2B2B;
    color: var(--fg, #2B2B2B);
    background-color: #FFFFFF;
    background-color: var(--bg, #FFFFFF);
}

.tile__title,
.tile__header,
.tile__author,
.tile__summary,
.tile__content,
.tile__date {
    margin: 0;
    width: 100%;
}

.tile__header,
.comment__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.tile__content,
.comment__content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.tile__category {
	margin: 5px 0 0 0;
}

.tile__category__link {
	padding: 0 .25rem;
    color: #F4F4F4;
	font-style: italic;
    /*
    background-color: #004DBB;
	background-color: var(--blue, #004DBB);
    */
}

.tile__text, 
.comment__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}

.tile__date {
    text-align: right;
}

.tile__footer,
.comment__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.tile__buttons,
.comment__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tile__btn,
.comment__btn {
    border: 0;
    width: 65px;
    height: 50px;
    cursor: pointer;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 2px;
    margin-left: .5rem;
    text-align: center;
    font-family: inherit;
    background-color: #FFFDFD;
}

.comment__form {
    display: none;
}

.tile__btn:hover {
    background-color: #D5D5D5;
}

.tile--grey,
.comment--grey {
    color: #AAAAAA;
}

.tile--reverse
.comment--reverse {
    color: #FDFDFD;
    border: solid #121212;
    background-color: #121212;
}

.tile__title a {
    color: #2B2B2B;
    color: var(--fg, #2B2B2B);
}

.tile__title a:hover {
    text-decoration: underline;
}

.tile--wide, 
.comment--wide {
    max-width: 1100px;
}

.tile--narrow, 
.comment--narrow {
    max-width: 550px;
}


@media only screen and (min-width: 500px) {
    .forum-menu {
        width: 100%;
        margin: 0 auto;
        max-width: 1125px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        /* margin-bottom: 1rem; */
        justify-content: flex-end;
    }
    .forum-menu__item {
        margin-left: .5rem;
    }
    .forum__link {
        margin-bottom: 0;
        padding: .5rem 1rem;
        white-space: nowrap;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .tile__btn,
    .comment__btn {
        width: 85px;
        font-weight: 1.1rem;
    }
    .btn--dark {
        color: #DFDFDF;
        border: .5px solid #202020;
        background-color: #202020;
    }
    .comment__form {
        width: 100%;
        margin: 0 auto;
        max-width: 1100px;
    }
}

@media only screen and (min-width: 625px) {
    .posts {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
  }


/* Profile */
.profile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__header h2 {
    margin: 10px 0;
}

.profile-image {
    height: 35px;
    margin-bottom: .5rem;
    border: 2px solid #000000;
    border: 2px solid var(--fg);
}

@media only screen and (min-width: 750px) {
    .profile-menu {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .profile-menu li {
        white-space: nowrap;
        margin-right: .5rem;
    }
    .image-small {
        display: block;
    }
}


/* Create post */
select {
    outline: 0;
    width: 100%;
    height: 40px;
    padding: .25rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #101010;
    background-color: #dfdfdf;
}

.btn--cancel {
    height: 40px;
    color: #0056FA;
    display: block;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 0;
    font-weight: bold;
    min-width: 130px;
    text-align: center;
    margin-bottom: 1rem;
    font-family: inherit;
    letter-spacing: 2.1px;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #FDFDFD;
    border: 3px solid #0D3D95;
}

textarea {
    width: 100%;
    height: 280px;
    overflow: auto;
    min-width: 280px;
}

.btn--outline {
    color: #202020;
    border: 2px solid #202020;
}

.btn--solid {
    color: #FFFFFF;
    background-color: #2973FF;
}

.btn--large {
    margin: 0;
    max-width: 400px;
    padding: .5rem 1rem;
    box-sizing: border-box;
}

.error__text {
    font-size: 2rem;
    margin: 0 0 8px 0;
    text-align: center;
}

.error__img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.hide {
    display: none;
}

.m-width-800 {
    max-width: 800px;
}

.m-width-600 {
    max-width: 600px;
}

.pos--center {
    text-align: center;
}

.active {
    text-decoration: underline;
}

.current__page {
    background-color: #C6C6C6;
    text-decoration: underline;
}

.close {
    border: 0;
    color: #111111;
    cursor: pointer;
    background-color: transparent;
}

.reverse {
    color: #DDDDDD;
    border: .5px solid #202020;
    background-color: #010100;
}

.category-h2 {
    color: #FFFFFF;
    display: inline;
    font-style: italic;
}

.red-bg { background-color: #CC0000; }
.orange-bg { background-color: #CC3300; }
.blue-bg { background-color: #0066CC; }
.green-bg { background-color: #00CC00; }
.turquoise-bg { background-color: #0099CC; }
.magenta-bg { background-color: #CC0066; }
.amber-bg { background-color: #0099CC; }
.purple-bg { background-color: #9900CC; }
