{% extends "layout.html" %}

{% block title %}email unconfirmed{% endblock %}

{% block content %}

  <div class="email__unconfirmed">
    <p class="email__unconfirmed__text">To prevent robots from signing up we kindly ask that you confirm your email account.
    Confirmation link has been sent to your email. Please check your email (and your spam folder).</p>
    <p>Didn't receive the email?</p> 
    <a class="btn btn--solid btn--outline btn--large" href="{{ url_for('auth.email_not_confirmed') }}">Resend confirmation link</a>
  </div>

{% endblock %}
