{# application/templates/auth/preferences.html #}

{% from 'macros.html' import displayField %}

{% extends "layout.html" %}

{% block title %}Preferences{% endblock %}

{% block content %}

  <div class="profile__header">

    <h2>Update Profile</h2>
    <img class="profile-image" src="static/images/avatars/{{ current_user.image_file }}">

  </div>

  <form action="" method="POST" enctype="multipart/form-data">

    {{ form.csrf_token }}

    {{ displayField(form.username, 'Username') }}
    {{ displayField(form.email, 'Enter email') }}
    {{ displayField(form.location, 'Location') }}
    {{ displayField(form.website_url, 'Website https://') }}
    {{ displayField(form.profile_summary, 'Profile Summary') }}

    <p>Upload a profile picture.</p>
    <div class="upload">
      <button class="upload__button" type="button">browse</button>
      {{ form.profile_picture(class_='upload__input') }}
    </div>
    <button class="btn btn--solid" type="submit">SAVE</button>

  </form>

{% endblock %}
