{# application/templates/auth/reset_password_token.html #}

{% from 'macros.html' import displayField %}

{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <h2>Reset Password</h2>

    <form action="" method="POST">

      {{ form.csrf_token }}

      {{ displayField(form.password, 'Enter password*', class='input__field password__field') }}
      {{ displayField(form.confirm_password, 'Re-enter password*', class='input__field password__field') }}
      {{ form.submit(class='btn btn--solid') }}

    </form>

{% endblock %}
