{# application/templates/auth/signup.html #}

{% from 'macros.html' import displayField %}

{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

    <h2 class="form__header">Sign Up</h2>

    <form action="{{ url_for('auth.sign_up') }}" method="POST">

      {{ form.csrf_token }}

      {{ displayField(form.username.label) }}
      {{ displayField(form.username, 'Enter username*', autofocus=true) }}
      {{ displayField(form.email.label) }}
      {{ displayField(form.email, 'Enter email*') }}
      {{ displayField(form.password.label) }}
      {{ displayField(form.password, 'Enter password*', class='input__field password__field') }}
      {{ displayField(form.confirm_password.label) }}
      {{ displayField(form.confirm_password, 'Re-enter password*', class='input__field password__field') }}
      {{ form.submit(class='btn btn--solid') }}
      <p class="form__agreement">By clicking Sign Up, I agree to the FstackForum 
      <a class="login__link" href="{{ url_for('auth.terms_of_service') }}">Terms Of Service</a> and 
      <a class="login__link" href="{{ url_for('auth.privacy_policy') }}">Privacy Policy</a>.</p>
      <p class="form__link">Already have an account? <a class="login__link" href="{{ url_for('auth.login_route') }}">login</a></p>

    </form>

{% endblock %}
