{# application/templates/auth/unconfirmed.html #}

{% extends "layout.html" %}

{% block title %}Confirm Email{% endblock %}

{% block content %}

  <section class="unconfirmed m-width--800">

    <h2 class="form__header">Confirm Email</h2>

    <p>Account confirmation is required before logging in. Check your inbox and spam folder. Add fstackforum.com to the whitelist.</p>

    <p class="form__link pos--center"><a class="btn btn--solid" href="#">Resend Link</a></p>

  </section>

{% endblock %}
