{# application/templates/auth/unconfirmed.html #}

{% from 'macros.html' import displayField %}

{% extends "layout.html" %}

{% block title %}Confirm Email{% endblock %}

{% block content %}

  <section class="email__unconfirmed">

    <p class="email__unconfirmed__text">Please check your email for the confirmation link.
    Check your inbox and spam folder. Add fstackforum.com to the whitelist.</p>

    <form action="" method="POST">

      {{ form.csrf_token }}

      {{ displayField(form.email, 'Enter email') }}
      {{ displayField(form.submit, class='btn btn--solid') }}

    </form>

  </section>

{% endblock %}
