{# application/templates/auth/unconfirmed.html #}

{% extends "layout.html" %}

{% block title %}Confirm Email{% endblock %}

{% block content %}

  <section class="unconfirmed m-width--800">

    <h2 class="form__header">Confirm Email</h2>

    <p>Please check your email for the confirmation link.</p>

    <p>Check your inbox and spam folder. Add fstackforum.com to the whitelist.</p>

    <form action="" method="POST">
      <label for="email">email</label>
      <input type="email" id="email" name="email" value="" placeholder="">
      <button class="bttn" type="submit">SEND NEW LINK</button>
    </form>

  </section>

{% endblock %}
